body
{
    padding-top: 51px;
    background: linear-gradient(white, #F3F3F3)
    color: white;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-section{
    height: 10vh;
    background-color: white;
}

.main-section button{

}
.navbar-fixed-top {
    background-color: steelblue;
    color: white;
}


section {
    background-color: white;
    color: white;
}

#construction {
    color: white;
}

#construction_landing {
    background-color: white;
    margin: auto;
    width: 100%;
    border: 3px solid steelblue;
    border-radius: 50%;
    padding: 55px;
        
}

#construction_landing_pic {
    display: block;
    margin-left: auto;
    margin-right: auto
}

footer {
    text-align: center;
}

.home_body {
    height: 600px;
}


.home_col {
    
    background: steelblue;
    color: white;
    width: 15%;
    height: 80%;
    float: left;
    margin-top: 1.5%;
    margin-left: 15%;
    border: 1px solid black;
    border-radius: 2%;
        
    
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: steelblue;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#slideshow {
    margin-bottom: 75px;
}



#icon {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 75%;
    padding: 10px;
    
    
}



.home_col_text {
    
    margin-top: 30%;
    text-align: center;
    font-weight: 200;
    
}



#home_col_sep {
    border: 0.5px solid black;
}

#home_body_header {
    margin-top: 50px;
    color: black;
    text-align: center;
}

#home_body_text {
    color: black;
    text-align: center;
}
