.about:before{
    content: "";
    z-index: -1;
    background: url("./imgs/aboutme.png") center center no-repeat;
    background-size: cover;
    filter: opacity(50%) grayscale(65%) brightness(75%);
    display: block;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
}

.about{
    z-index: 0;
    height: 600px;
    margin-top: -2.5%;
    color: #323b55;
    font-size: x-large;
    overflow: hidden;
}

.about p, .about h1{
    padding-left: 5%;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px white;
}

.about p > strong {
    color: white;
    text-shadow: 1px 1px 1px #323b55;
}

.about h1 > strong{
    color: #323b55;
    text-shadow: 2px 2px 2px white;
}

.projects{
    background-color: #323b55;
    color: white;
    border-top: 1px solid black;
    text-align: center;
}

.projects [class*='col-']{
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #323b55;
    color: white;
    position: relative;
    min-height: 400px;
}

.projects [class*='col-']:hover{
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    background-color: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    box-shadow: 0 0 20px #181d27;
}

.panel-img{
    max-width: 200px;
    border: 4px solid #efefef;
    border-radius: 50%;
    background-color: white;
}

.panel-img:hover{
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.row-title{
    text-align: center;
}

.skill-img{
    margin: 2%;
}

.skill-img:hover{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease;
    transform: scale(1.05);
    filter: opacity(75%);
    cursor: pointer;
}

.skill-rows:before{
    content: "";
    z-index: -1;
    background: url('./imgs/skillsbg.jpeg') right;
    background-size: cover;
    filter: opacity(45%) brightness(60%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.skill-rows{
    z-index: 0;
    overflow-x: hidden;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.ed:before{
    content: "";
    z-index: -1;
    background: url('./imgs/carleton.jpg') no-repeat left bottom;
    background-size: cover;
    filter: opacity(50%) brightness(70%) blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ed{
    z-index: 0;
    overflow: hidden;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    font-size: larger;
    text-align: center;
}

.ed p{
    font-weight: lighter;
}