/* Header */
.large-header {
    position: absolute;
    width: 100%;
    background: #333 center center;
    background-size: cover;
    z-index: 1;
    border-bottom: 1px solid black;
    min-height: 450px;
    max-height: 500px;
}

#large-header:before {
    background: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb') center center no-repeat;
    background-size: cover;
    content: "";
    z-index: -1;
    filter: opacity(45%) brightness(55%);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#large-header{
    z-index: 0;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: white !important;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}

.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width : 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }

    .large-header{
        min-height: 700px;
    }

    #demo-canvas {
        height: 0;
    }
}