.home {
    text-align: left;
    background: none;
    text-shadow: 0.5px 0.5px 0.5px #323b55;
    font-size: large;
    color: white;
}

/*
.splash-pic{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
    background: url('./imgs/splash.jpg') center center no-repeat;
    filter: opacity(40%);
    transform: scale(1.2);
    overflow: hidden;
}

.jumbotron {
    z-index: 2;
    margin-bottom: 0;
    height: 600px;
    background: none;
}*/

/*
.home > .jumbotron:before{
    background: url('../Assets/imgs/splash.jpg') no-repeat right;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(3px) opacity(85%) brightness(80%);
}*/

/*
.home > .jumbotron{
    background-color: transparent!important;
    text-align: center;
}

.home > .jumbotron h1, .jumbotron p{
    text-align: center;
    font-weight: bold !important;
    text-shadow: 2px 2px 2px #323b55 !important;
    color: white !important;
    font-family: "Work Sans", sans-serif;
}
*/

.resume-button {
    font-family: "Lato Light", sans-serif;
    font-variant: small-caps;
    color: #ffffff;
    font-size: 16px;
    background: #3e5fb3;
    padding: 10px 20px 10px 20px;
    border: solid #3e5fb3 2px;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: inset 0 0 0 4px #3e5fb3;
    font-weight: bold;
}

.resume-button:hover, .resume-button:active, .resume-button:focus {
    background: #ffffff;
    color: #3e5fb3;
    transition: all .2s ease-in-out;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px #3e5fb3;
}