html, body, .global {
    font-family: "Open Sans", "Lato",  "Droid Sans", sans-serif !important;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
}

a:link, a:visited, a:hover, a:active, .panel, a {
    text-decoration: none;
    color: inherit;
}