.navbar{
    padding-bottom: 0 !important;
    margin-bottom: 0;
    font-family: "Lato", "Segoe UI", sans-serif;
}

.navbar-custom {
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
    font-weight: 800;
    text-shadow: none;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

.navbar-wrapper, .navbar-custom, .navbar, .navbar-fixed-top, .navbar-inner{
    background: rgba(255, 255, 255, 0);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
}


li > a:hover,
li > a:focus,
li > a::selection,
.navbar-custom .navbar-brand a:hover,
.navbar-custom .navbar-brand a:focus,
.navbar-custom .navbar-brand a::selection
{
    color: rgba(255, 255, 255, 0.75);
    background: none !important;
    text-decoration: none;
}

@media (min-width: 768px){
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-right: 10px;
    }
}